@reference 'tailwindcss';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;

  [emr-logo] {
    font-weight: 800;
    font-size: var(--text-xl);
    color: var(--color-neutral-950);

    &:hover {
      color: var(--sys-tertiary);
    }
  }

  emr-sidebar-nav {
    --emr-sidebar-nav-item-hover-bg: var(--color-primary-200);
    --emr-sidebar-nav-item-active-bg: var(--color-primary-300);
    --emr-sidebar-nav-item-active-color: var(--color-primary-800);
    --emr-sidebar-nav-item-active-icon-color: var(--color-primary-800);
    --emr-sidebar-nav-items-gap: --spacing(2);
  }
}

:host-context(html.dark) {
  background-color: var(--sys-surface-container);

  [emr-logo] {
    color: var(--sys-on-surface);

    &:hover {
      color: var(--sys-tertiary);
    }
  }

  emr-sidebar-nav {
    --emr-sidebar-nav-item-hover-bg: var(--color-neutral-700);
  }
}
