<emr-sidebar>
  <emr-sidebar-header class="h-18">
    <a emr-logo routerLink="/">
      ELEMENTAR
    </a>
  </emr-sidebar-header>
  <emr-sidebar-body>
    <emr-sidebar-nav [activeKey]="activeKey">
      @for (navItem of navItems; track navItem) {
        <a emr-sidebar-nav-item [routerLink]="navItem.link" [key]="navItem.key">{{ navItem.name }}</a>
      }
    </emr-sidebar-nav>
  </emr-sidebar-body>
  <emr-sidebar-footer class="flex items-center justify-center">
    <emr-sidebar-toolbar-a/>
  </emr-sidebar-footer>
</emr-sidebar>
